@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Core colors */
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-secondary: #64748b;
  --color-accent: #8b5cf6;

  /* Neutrals */
  --color-background: #f4f3f2;
  --color-foreground: #0f172a;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  /* Borders & inputs */
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #2563eb;

  /* Status colors */
  --color-destructive: #ef4444;
  --color-success: #10b981;
  --color-warning: #f59e0b;

  /* Radius */
  --radius: 0.5rem;

  /* Font Style */
  --font-sans: "Poppins",ui-sans-serif, system-ui, sans-serif;
  --font-secondary: "Righteous", sans-serif;
}

.dark {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-secondary: #64748b;
  --color-accent: #a78bfa;

  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-muted: #1e293b;
  --color-muted-foreground: #94a3b8;

  --color-border: #334155;
  --color-input: #334155;
  --color-ring: #3b82f6;

  --color-destructive: #f87171;
  --color-success: #34d399;
  --color-warning: #fbbf24;
}
